<div>
  @if(isFetching() && !error()){
    <p class="loading-message">Loading...</p>
  }
  @if(error()){
    <p class="error-message">Error: {{error()}}</p>
  }

  @if (posts()) {
    <div class="new-issue-button">
      <button routerLink="/issues/new">New Issue</button>
    </div>

    <div class="search-container">
        <div>
          <label for="search">Search </label>
          <input type="text" id="search" name="search" [(ngModel)]="searchedTitle" (change)="searchIssue()">
        </div>
        @if (searchedPost) {
          <div>
            <h4>Post: {{searchedPost.id}}</h4>
            <h5>Title: {{searchedPost.title}}</h5>
          </div>
        }
    </div>
  }

  @for (post of posts(); track $index) {
    <a routerLink='/issues/{{post.id}}' routerLinkActive="active">
      <h4>Post: {{post.id}}</h4>
      <h5>Title: {{post.title}}</h5>
    </a>
  }
</div>
