<div>
  @if(error()){
    <p>Error: {{error()}}</p>
  }
  @if(isSuccess()){
    <p>Create Post Success</p>
  }
</div>
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="title">Post Title</label>
    <input id="title" formControlName="title" />

    @if (postForm.get('title')?.touched && postForm.get('title')?.invalid) {
      @if (postForm.get('title')?.errors?.['required']) {
        <span>Title is required.</span>
      } @else if (postForm.get('title')?.errors?.['minlength']) {
        <span>Too short (min 3).</span>
      }
    }
  </div>

  <div>
    <label for="body">Post Body</label>
    <textarea id="body" formControlName="body"></textarea>

    @if (postForm.get('body')?.touched && postForm.get('body')?.invalid) {
      <span>Body is required.</span>
    }
  </div>

  <button type="submit" [disabled]="postForm.invalid || isLoading()">Submit</button>
</form>
